# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Julia
	email = schmid.julia96@gmail.com
[http]
	postBuffer = 157286400
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	pager = which d >/dev/null 2>/dev/null && d || less

[interactive]
	diffFilter = which d >/dev/null 2>/dev/null && d --color-only || less

[delta]
	line-numbers = true
	navigate = true
	hyperlinks = true

[diff]
	colorMoved = default

[pager]
	diff = true
	show = true
	log = true
